.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
    color: #0c6e40;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #0c6e40;
  }
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #3ea68a;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color:  #216654;
    border-color: #3ea68a;
    color: white;
  }
  
  .actions .button--alt {
    color: #216654;
  }
  
  .actions .button {
    background-color: #3ea68a;
    color: white;
  }

  .main{
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 37rem;
    overflow-y: scroll;
  }
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #6bdabd #e8eeec;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 13px;
  }

  *::-webkit-scrollbar-track {
    background: #e8eeec;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #85b9ab;
    border-radius: 7px;
    border: 2px ridge #ffffff;
  }

  .thanks{
    text-align: center;
  }